body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    background-image: }
a {
    color: black;
    font font-weight: bold;
    text-decoration: none; /* get rid of underline */
    }
h1 {color: blue; }
a:hover {opacity: 0.7; color: deeppink; 
}

.image-1 {
    width: 100%
        
}
